***
# **<center>COURS PYTHON 2IMACS #2</center>**
# ***<center>Structures de Données</center>***
# ***<center>Structures Boucles</center>***
# ***<center>Gestion des erreurs</center>***
***

# 2-1 Les Listes

Les listes sont des structures de données qui permettent de stocker une collection ordonnée d'éléments. Elles peuvent contenir différents types de données tels que des nombres, des chaînes de caractères et même d'autres listes. Les listes sont modifiables, ce qui signifie que l'on peut ajouter, supprimer ou modifier des éléments après leur création. Elles sont souvent utilisées pour stocker des ensembles de données similaires ou pour effectuer des opérations itératives.

## 2-1-1 Déclaration de variables

Les éléments d'une liste sont entre crochets.

In [1]:
# Déclaration: 
ma_liste = ['spam', 'eggs', 'lumberjack', 'parrot', 'cheese shop']
print(ma_liste)

['spam', 'eggs', 'lumberjack', 'parrot', 'cheese shop']

## 2-1-2 Nombre d'éléments dans la liste

Comme pour les chaines de caractère, on peut connaitre le nombre d'éléments avec len

In [2]:
print(len(ma_liste))

5

## 2-1-3 Indexation des éléments

Comme pour les chaines de caractères, on peut accéder à des éléments de la liste ou à des tranches par leurs indices.

In [3]:
# Selectionner un élément:
print('Le 3eme élément: ',ma_liste[3]) 
print('Les 3 Premiers éléments: ',ma_liste[:3])
print('Le dernier élément: ',ma_liste[-1]) 
print('Les 3 derniers éléments: ',ma_liste[:-3])
print('Du 3eme au 5eme élément: ',ma_liste[2:4])

Le 3eme élément:  parrot
Les 3 Premiers éléments:  ['spam', 'eggs', 'lumberjack']
Le dernier élément:  cheese shop
Les 3 derniers éléments:  ['spam', 'eggs']
Du 3eme au 5eme élément:  ['lumberjack', 'parrot']

## 2-1-4 Ajout d'éléments

On peut ajouter un élément avec append.

In [4]:
print(ma_liste)
ma_liste.append('ministry of silly walks')
print(ma_liste)

['spam', 'eggs', 'lumberjack', 'parrot', 'cheese shop']
['spam', 'eggs', 'lumberjack', 'parrot', 'cheese shop', 'ministry of silly walks']

*Remarque: La fonction append a modifié ma_liste. Pour la suite du notebook, nous allons avoir besoin de la version initiale de ma_liste. Nous allons donc la ré-initialiser. Nous ferons cette opération pour toutes les fonctions qui modifient les listes.*

In [5]:
ma_liste = ['spam', 'eggs', 'lumberjack', 'parrot', 'cheese shop'] #ré initialiser pour futures executions

Il est important de voir qu'avec ce type de fonction qui modifie la liste d'origine, on ne peut pas affecter le résultat à une nouvelle liste , puisque la fonction renvoit None.

In [6]:
print(ma_liste)
test = ma_liste.append('ministry of silly walks')
print(ma_liste)
print(test)

['spam', 'eggs', 'lumberjack', 'parrot', 'cheese shop']
['spam', 'eggs', 'lumberjack', 'parrot', 'cheese shop', 'ministry of silly walks']
None

On peut ajouter une liste à une autre toujours avec append.

In [7]:
ma_liste2 = ["Flying Circus", "Holy Grail", "Life of Brian"]
ma_liste.append(ma_liste2)
print(ma_liste)
ma_liste = ['spam', 'eggs', 'lumberjack', 'parrot', 'cheese shop'] #ré initialiser pour futures executions

['spam', 'eggs', 'lumberjack', 'parrot', 'cheese shop', 'ministry of silly walks', ['Flying Circus', 'Holy Grail', 'Life of Brian']]

*Remarque: Ici on a ajouté une liste, on a maintenant une liste contenant des chaines de caractère et une liste de chaines de caractères! Si on veut ajouter les éléments de la liste, on peut plutôt utiliser la fonction extend:*

In [8]:
print(ma_liste)
ma_liste.extend(ma_liste2)
print(ma_liste)
ma_liste = ['spam', 'eggs', 'lumberjack', 'parrot', 'cheese shop'] #ré initialiser pour futures executions

['spam', 'eggs', 'lumberjack', 'parrot', 'cheese shop']
['spam', 'eggs', 'lumberjack', 'parrot', 'cheese shop', 'Flying Circus', 'Holy Grail', 'Life of Brian']

## 2-1-5 Suppression d'éléments

Plusieurs possibilités pour supprimer des éléments d'une liste:  
- remove si on veut fournir l'élément à enlever
- pop si on veut fournir l'indice de l'élément à enlever

In [9]:
print(ma_liste)
ma_liste.remove('eggs') # En utilisant l'élément à enlever
print(ma_liste)

['spam', 'eggs', 'lumberjack', 'parrot', 'cheese shop']
['spam', 'lumberjack', 'parrot', 'cheese shop']

In [10]:
ma_liste.pop(2) # en utilisant l'indice de l'element à enlever
print(ma_liste)
ma_liste = ['spam', 'eggs', 'lumberjack', 'parrot', 'cheese shop']#On re initialise la liste pour de futures executions

['spam', 'lumberjack', 'cheese shop']

## 2-1-6 Obtention de l'indice d'un élément

In [11]:
print('Le mot parrot se trouve en position:', ma_liste.index('parrot'))

Le mot parrot se trouve en position: 3

## 2-1-7 Inverser l'ordre des éléments

In [12]:
print(ma_liste)
print(list(reversed(ma_liste)))

['spam', 'eggs', 'lumberjack', 'parrot', 'cheese shop']
['cheese shop', 'parrot', 'lumberjack', 'eggs', 'spam']

## 2-1-8 Tri

On peut avoir besoin de trier les éléments d'une liste, soit par ordre alphabétique pour les strings soit par ordre croissant pour les float ou int.

In [13]:
print(sorted(ma_liste)) #renvoie la liste triée par ordre alphabetique
ma_liste_num = [12,8,78,5,9]
print(sorted(ma_liste_num)) # ou par ordre croissant

['cheese shop', 'eggs', 'lumberjack', 'parrot', 'spam']
[5, 8, 9, 12, 78]

sorted ne modifie pas la liste d'origine, on peut vérifier que ma_liste_num n'a pas été modifiée apprés application de la fonction.

In [14]:
print(ma_liste_num)

[12, 8, 78, 5, 9]

Des options sont disponibles comme l'ordre inverse ou le tri par longueur pour les chaines.

In [15]:
print(sorted(ma_liste, reverse=True)) #Ordre alphabétique inverse
print(sorted(ma_liste, key=len)) #tri par longueur de chaîne

['spam', 'parrot', 'lumberjack', 'eggs', 'cheese shop']
['spam', 'eggs', 'parrot', 'lumberjack', 'cheese shop']

## 2-1-9 Opérations sur une liste numérique

On peut récuperer les valeurs maxi, mini, la sommme des éléments d'une liste

In [16]:
print(ma_liste_num)
print('maxi = ',max(ma_liste_num)) # renvoie la valeur maximale dans la liste (pour une liste de nombres)
print('mini = ',min(ma_liste_num)) # renvoie la valeur minimale dans la liste (pour une liste de nombres)
print('somme = ',sum(ma_liste_num)) # renvoie la somme des éléments dans la liste (pour une liste de nombres)

[12, 8, 78, 5, 9]
maxi =  78
mini =  5
somme =  112

## 2-1-10 Listes contenant des types differents

Les listes peuvent contenir des types differents.

In [17]:
liste = [1,'eggs',5.4,'Ni!']
print(liste)
print(len(liste))

[1, 'eggs', 5.4, 'Ni!']
4

Mais il y aura bien sûr quelques limitations:

In [18]:
print(sorted(liste))

TypeError: '<' not supported between instances of 'str' and 'int'

*Remarque: C'est (peut être) notre premier message d'erreur. Prenons le temps de le lire pour le comprendre! La ligne provoquant l'erreur est indiquée. La nature aussi (TypeError), ici il est bien expliqué que l'on ne peut pas utiliser l'opérateur '<' entre une chaine de caractère et un entier.*

## 2-1-11 Type list

On a vu au 1-3-1 que l'on pouvait forcer un changement de type. C'est bien sûr aussi possible avec les listes, on peut par exemple convertir une chaine de caractère avec le mot clé 'list'

In [19]:
chaine = 'Coconut'
print(list(chaine))

['C', 'o', 'c', 'o', 'n', 'u', 't']

# 2-2 Les Tuples

Les tuples sont relativement similaires aux listes, mais ils sont immuables, ce qui signifie qu'ils ne peuvent pas être modifiés une fois créés. Ils sont définis en utilisant des parenthèses et peuvent contenir des éléments de différents types. Les tuples sont souvent utilisés pour représenter des ensembles de données qui ne doivent pas être modifiés, tels que des coordonnées géographiques ou des informations d'un enregistrement de base de données.

In [20]:
# Essayon de modifier un élément d'une liste:
liste = [1, 2, 3]
print("Liste originale :", liste)

liste[0] = 10  # Modification de la première valeur
print("Liste modifiée :", liste)

Liste originale : [1, 2, 3]
Liste modifiée : [10, 2, 3]

In [21]:
# Essayons maintenant de modifier un tuple
mon_tuple = (1, 2, 3)
print("Tuple original :", mon_tuple)

# La ligne suivante générera une erreur car les tuples sont immuables
mon_tuple[0] = 10

Tuple original : (1, 2, 3)

TypeError: 'tuple' object does not support item assignment

La plupart des fonctions vues pour les listes sont utilisables avec des tuples:

In [22]:
print('longueur :',len(mon_tuple))
print('index de 2 : ',mon_tuple.index(2))
print('mon tuple trié :',sorted(mon_tuple))

longueur : 3
index de 2 :  1
mon tuple trié : [1, 2, 3]

# 2-3 Les Dictionnaires

Les dictionnaires sont des structures de données qui permettent de stocker des paires clé-valeur. Chaque élément d'un dictionnaire est constitué d'une clé et de sa valeur correspondante. Les clés sont généralement des chaînes de caractères, mais peuvent aussi être d'autres types immuables. Les dictionnaires offrent un accès rapide aux valeurs en utilisant leurs clés, ce qui les rend utiles pour représenter des associations entre des informations, telles que des données d'un jeu de données structuré ou des paramètres de configuration.


Les dictionnaires se déclarent avec de accolades:

In [23]:
monty_python_films = {
    "Monty Python's Flying Circus": 1969,
    "Monty Python and the Holy Grail": 1975,
    "Monty Python's Life of Brian": 1979
}
print(monty_python_films)

{"Monty Python's Flying Circus": 1969, 'Monty Python and the Holy Grail': 1975, "Monty Python's Life of Brian": 1979}

Connaissant le titre on peut obtenir l'année:

In [24]:
film = "Monty Python's Flying Circus"
annee_sortie = monty_python_films[film]
print("Monty Python's Flying Circus est sorti en :",annee_sortie)

Monty Python's Flying Circus est sorti en : 1969

Vérifier si un élément est dans le dictionnaire:

In [25]:
if "Monty Python and the Holy Grail" in monty_python_films:
    print("Ce film est dans le dictionnaire.")
else:
    print("Ce film n'est pas dans le dictionnaire.")

Ce film est dans le dictionnaire.

Ajouter un élément au dictionnaire:

In [26]:
monty_python_films["Monty Python's The Meaning of Life"] = 1983
print(monty_python_films)

{"Monty Python's Flying Circus": 1969, 'Monty Python and the Holy Grail': 1975, "Monty Python's Life of Brian": 1979, "Monty Python's The Meaning of Life": 1983}

[Exercices 0 à 2](exercices/Exercices2_solutions.ipynb)

# 2-3 Les structures boucles

Les boucles sont des structures essentielles qui permettent d'exécuter un bloc de code de manière répétée. En Python, nous avons deux types de boucles couramment utilisées : la boucle for et la boucle while.

## 2-3-1 Boucle For

La boucle for est utilisée lorsque l'on connait à l'avance le nombre d'itérations à effectuer. Elle itère sur une séquence donnée, telle qu'une liste, une chaîne de caractères ou une plage de nombres. À chaque itération, les instructions à l'intérieur de la boucle sont exécutées.
La syntaxe contienr le mot clé **for** suivi de **in** pour indiquer la séquence. La ligne se termine par **":"** et lors du retour à la ligne on ajoute une indentation.

Iteration sur une liste:

In [27]:
ma_liste = [1, 2, 3, 4, 5]
for element in ma_liste:
    print(element)

1
2
3
4
5

Iteration sur un tuple:

In [28]:
mon_tuple = ('4.6', 'black', '8', 'pink')
for element in mon_tuple:
    print(element)

4.6
black
8
pink

Iteration sur une chaine de caractères:

In [29]:
ma_chaine = "Spam"
for caractere in ma_chaine:
    print(caractere)

S
p
a
m

Iteration sur un dictionnaire: Nous utiliserons La méthode items() qui retourne les paires clé-valeur du dictionnaire.

In [30]:
for film, annee in monty_python_films.items(): 
    print(f"Le film {film} est sorti en {annee}.")

Le film Monty Python's Flying Circus est sorti en 1969.
Le film Monty Python and the Holy Grail est sorti en 1975.
Le film Monty Python's Life of Brian est sorti en 1979.
Le film Monty Python's The Meaning of Life est sorti en 1983.

Ou faire l'iteration sur la clé uniquement, connaissant la clé on pourra retrouver la valeur

In [31]:
for film in monty_python_films.keys():
    print(f"Le film {film} est sorti en {monty_python_films[film]}.")

Le film Monty Python's Flying Circus est sorti en 1969.
Le film Monty Python and the Holy Grail est sorti en 1975.
Le film Monty Python's Life of Brian est sorti en 1979.
Le film Monty Python's The Meaning of Life est sorti en 1983.

Ou faire l'iteration sur la valeur

In [32]:
for annee in monty_python_films.values():
    print(f"Un film est sorti en {annee}.")

Un film est sorti en 1969.
Un film est sorti en 1975.
Un film est sorti en 1979.
Un film est sorti en 1983.

Iteration sur une plage numérique 
- de zero à une valeur définie

In [33]:
for i in range(5):
    print(i)

0
1
2
3
4

- entre 2 valeurs

In [34]:
for i in range(2,6):
    print(i)

2
3
4
5

- entre 2 valeurs avec un pas défini

In [35]:
for i in range(4, 11, 2):
    print(i)

4
6
8
10

Réalisons une opération (mettre au carré) sur chacun des éléments d'une liste:

In [36]:
ma_liste = [7,6,2,0]
for i in ma_liste:
    k = i**2
    print(k)

49
36
4
0

Très bien mais à chaque itération, on ecrase la valeur précédente de k.

In [37]:
ma_liste = [7,6,2,0]
for i in ma_liste:
    k = i**2
print(k)

0

On peut avoir besoin de ces valeurs par la suite. Nous allons donc stocker les valeurs dans une liste:

In [38]:
ma_liste = [7,6,2,0]
ma_liste_carre = [] #creer une liste vide
for i in ma_liste:
    k = i**2
    ma_liste_carre.append(k)
print('Les éléments de la liste sont mis au carré : ',ma_liste_carre)

Les éléments de la liste sont mis au carré :  [49, 36, 4, 0]

Une autre option aurait été d'utiliser une liste de comprhension (c'est plus élégant, mais absolument pas obligatoire)

In [39]:
ma_liste_carre = [x**2 for x in ma_liste]
print('Les éléments de la liste sont mis au carré : ',ma_liste_carre)

Les éléments de la liste sont mis au carré :  [49, 36, 4, 0]

On utilise souvent des compteurs qui sont initialisés hors de la boucle et itéré à chaque tour de boucle

In [40]:
ma_chaine = "Spam"
i = 0 #initialisation du compteur
for caractere in ma_chaine:
    print(caractere,'en position',i)   
    i+=1 # ajouter 1 au compteus (équivalent à i = i+1)

S en position 0
p en position 1
a en position 2
m en position 3

La fonction **enumerate** est souvent utilisée pour itérer sur une séquence tout en gardant une trace de l'indice de chaque élément.   
Dans le cas suivant la boucle renvoit un élémént de la liste et son index.

In [41]:
ma_liste = ['spam', 'eggs', 'lumberjack', 'parrot', 'cheese shop']
ma_liste = ['spam', 'eggs', 'lumberjack', 'parrot', 'cheese shop']

for index, element in enumerate(ma_liste):
    print(f"L'élément à l'indice {index} est : {element}")

L'élément à l'indice 0 est : spam
L'élément à l'indice 1 est : eggs
L'élément à l'indice 2 est : lumberjack
L'élément à l'indice 3 est : parrot
L'élément à l'indice 4 est : cheese shop

On peut faire des boucles imbriquées:

In [42]:
matrice = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for ligne in matrice:
    for element in ligne:
        print(element)

1
2
3
4
5
6
7
8
9

## 2-3-2 Boucle While

La boucle while est utilisée pour répéter l'exécution d'un bloc de code tant qu'une condition spécifiée est vraie. Elle permet d'itérer de manière indéterminée jusqu'à ce que la condition devienne fausse. La structure de la boucle while comprend une condition initiale qui est évaluée avant chaque itération.  La boucle while est utile lorsque le nombre d'itérations n'est pas connu à l'avance.

In [43]:
# Un compteur simple
count = 0

while count < 5:
    print(count)
    count += 1

0
1
2
3
4

Pour parcourir les éléments d'une liste avec un compteur, on itére jusqu'à la fin de la liste:

In [44]:
members = ["John Cleese", "Terry Gilliam", "Eric Idle", "Terry Jones", "Michael Palin"]
index = 0

while index < len(members):
    print("Membre de Monty Python :", members[index])
    index += 1

Membre de Monty Python : John Cleese
Membre de Monty Python : Terry Gilliam
Membre de Monty Python : Eric Idle
Membre de Monty Python : Terry Jones
Membre de Monty Python : Michael Palin

On peut choisir de passer directement au bloc d'instruction suivant avec **continue** ou sortir de la boucle avec **break**. 
Dans cet exemple Le mot clé "break" interrompt la boucle while lorsque "Terry Jones" est trouvé dans la liste des membres.

In [45]:
members = ["John Cleese", "Terry Gilliam", "Eric Idle", "Terry Jones", "Michael Palin"]
index = 0

while index < len(members):
    if members[index] == "Eric Idle":
        index += 1
        continue  # Passe à l'itération suivante sans exécuter le reste du code
    elif members[index] == "Terry Jones":
        break  # Sort de la boucle
    print("Membre de Monty Python :", members[index])
    index += 1

Membre de Monty Python : John Cleese
Membre de Monty Python : Terry Gilliam

# 2-4 Gestion des erreurs

La gestion des erreurs permet de traiter les erreurs qui peuvent se produire lors de l'exécution d'un programme. Elle utilise les instructions **try** et **except** pour traiter le code susceptible de générer des erreurs. Lorsqu'une erreur se produit, le code dans la clause **except** correspondante est exécuté, permettant de gérer l'erreur de manière contrôlée et d'afficher des messages appropriés. Cela aide à améliorer la robustesse et la fiabilité des programmes en évitant les "plantages" du code.

Commençon par ce code qui peut renvoyer une erreur si on saisit zero par exemple:

###### while True:
        nombre = int(input("Entrez un nombre entier non nul et taper Enter : "))
        resultat = 10 / nombre
        print("Le résultat est :", resultat)
        break  # Sortir de la boucle si aucune erreur n'est survenue

Envisageons maintenant le cas où une mauvaise valeur est saisie:

In [1]:
while True:
    try:
        nombre = int(input("Entrez un nombre entier non nul et taper Enter : "))
        resultat = 10 / nombre
        print("Le résultat est :", resultat)
        break  # Sortir de la boucle si aucune erreur n'est survenue
    except:
        print("Erreur : Vous devez entrer un nombre entier.")
        # Pas de break. On continue jusqu'à avoir un nombre valide

Entrez un nombre entier non nul et taper Enter :  5

Le résultat est : 2.0

On peut aller plus loin en précisant le type d'erreur. Ici on envisage une erreur de conversion de type et une division par zéro et on adapte la réponse.

In [ ]:
while True:
    try:
        nombre = int(input("Entrez un nombre entier : "))
        resultat = 10 / nombre
        print("Le résultat est :", resultat)
        break  # Sortir de la boucle si aucune erreur n'est survenue
    except ValueError: 
        print("Erreur : Vous devez entrer un nombre entier.")
    except ZeroDivisionError:
        print("Erreur : Division par zéro impossible.")

Les principlales exceptions sont dans ce tableau:

| Exception             | Description                                                                                   |
|-----------------------|-----------------------------------------------------------------------------------------------|
| `ValueError`           | Conversion de type échouée (ex. : conversion d'une chaîne en un nombre entier).               |
| `ZeroDivisionError`    | Tentative de division par zéro.                                                               |
| `TypeError`           | Opération incompatible avec le type de données.                                                |
| `IndexError`          | Accès à un index de liste inexistant.                                                          |
| `KeyError`            | Accès à une clé de dictionnaire inexistante.                                                   |
| `FileNotFoundError`   | Tentative d'ouverture d'un fichier inexistant.                                                 |
| `IOError`             | Erreurs liées à l'entrée/sortie, telles que la lecture ou l'écriture dans un fichier.          |
| `AttributeError`      | Tentative d'accès à un attribut ou une méthode inexistant(e) sur un objet.                     |
| `NameError`           | Utilisation d'une variable ou fonction non définie.                                            |
| `KeyboardInterrupt`   | Interruption par l'utilisateur (Ctrl+C dans la console).                                       |


Vous touverez une liste complete dans le [section Exceptions Built-in de la documentation Python](https://docs.python.org/3/library/exceptions.html)

L'utilisation de raise ValueError permet de signaler explicitement une erreur de valeur et d'interrompre l'exécution normale du programme, en fournissant des informations précises et personalisées sur la nature de l'erreur rencontrée.

In [ ]:
nombre = 0

if nombre == 0:
    raise ValueError("La valeur ne peut pas être zéro!")
else:
    resultat = 10 / nombre
    print(resultat)

[Exercices 3 à 8](exercices/Exercices2_solutions.ipynb)