***
# **<center>COURS PYTHON 2IMACS #5</center>**
# ***<center>Numpy</center>***
***

<div style="text-align: justify;">
NumPy est une bibliothèque destinée à la manipulation de tableaux multidimensionnels. C'est un outil essentiel pour la science des données et la recherche. NumPy permet notamment d'effectuer des opérations mathématiques complexes, des manipulations de données, des opérations logiques , le tout avec une grande efficacité et une syntaxe claire. NumPy constitue la base de nombreuses autres bibliothèques scientifiques en Python. La bibliothèque est ecrit en C, ce qui lui permet de réaliser des opérations complexes sur des quantités importantes de données avec une rapidité que n'offrirait pas du code python pur.
</div>

# 5-1 Introduction

<div style="text-align: justify;">
On a vu l'utilisation de listes dans le cours précédents. Elles permettent de stocker une collection ordonnée d'élément. Cependant leur utilisation devra être limitée à certains cas. Souvent il sera préferable d'utiliser Numpy, notamment pour de grosses quantités de données pour lesquelles les listes se révèleront lentes.
Pour les opérations numériques telles que le calcul matriciel, les opérations statistiques ou les opérations mathématiques, numpy propose une large gamme de fonctions.
</div>

Commençons par essayer de réaliser des calculs sur des listes

In [ ]:
a = [1,2,3]
b = [10,20,30]
print(a+b)
print(2*a)

<div style="text-align: justify;">
Au lieu d'ajouter les éléments de la liste, avec a+b, on a mis les éléments de b à la suite de ceux de a. 
De même si on multiplie a par 2, on obtient deux fois la liste a...

Essayons la même opération avec des tableaux numpy:
</div>

In [ ]:
import numpy as np
# Déclaration de tableau numpy
a = np.array([1,2,3])
b = np.array([10,30,20])

In [ ]:
print('a =',a)
print('b =',b)
print('a+b =',a+b)
print('2xa =',2*a)

Numpy peut être utilisé pour tracer des courbes avec matplotlib

In [ ]:
import matplotlib.pyplot as plt
fig,ax = plt.subplots()
ax.plot(a,b,marker = 'o'); # abcisse et ordonnée sont des tableaux numpy

# 5-2 Dimensions d'un tableau numpy

#### 5-2-1  Connaitre les dimensions d'un tableau numpy

Un tableau numpy a le gros avantage sur les listes de pouvoir prendre un grand nombre de dimensions. Commençons par regarder la forme de notre tableau a avec **shape**

In [ ]:
print(a)
print('forme = ',a.shape)

Puis ses dimensions avec **ndim**

In [ ]:
print(a)
print('nombre de dimensions = ',a.ndim)

- **shape** renvoie un tuple indiquant la taille du tableau dans chaque dimension. 
- **ndim** renvoie le nombre de dimensions du tableau.

Le tableau a  une taille 3 éléments dans cette dimension et une dimension (1 ligne).

In [ ]:
c = np.array([[2,5,8],[8,7,9]])

In [ ]:
print(c)
print('------------------')
print('forme = ',c.shape)
print('------------------')
print('nombre de dimensions = ',c.ndim)

On a défini ici une matrice de 2 lignes et 3 colonnes, donc 2 dimensions.

Augmentons le nombre de dimensions

In [ ]:
d = np.array([[[1, 2, 3, 4], [4, 5, 6, 7]], [[7, 8, 9, 6], 
            [10, 11,12, 9]], [[52, 69, 13, 45], [19, 21,32, 89]]])

In [ ]:
print(d)
print('------------------')
print('forme= ',d.shape)
print('------------------')
print('nombre de dimensions = ',d.ndim)

On a ici un "cube de données", par exemple des coordonnées x,y,z.

#### 5-2-2  Changer les dimensions d'un tableau numpy

<div style="text-align: justify;">
On peut être amené à changer les dimensions d'un tableau sans modifier les données qu'il contient, pour utiliser des outils qui attendent des tableaux numpy avec de dimensions précises en entrée par exemple.
</div>

In [ ]:
e = np.array([1, 2, 3, 4, 5, 6])
f = np.reshape(e, (2, 3)) #On demande à passer en 2 lignes et 3 colonnes

print('avant')
print(e)
print('forme = ',e.shape)
print('nombre de dimensions = ',e.ndim)
print('------------------')
print('après')
print(f)
print('forme = ',f.shape)
print('nombre de dimensions = ',f.ndim)

#### 5-2-3  Operations sur les elements d'un tableau

Somme des éléments d'un tableau

In [ ]:
print(np.sum(e))

Moyenne

In [ ]:
print(np.mean(e))

Minimum

In [ ]:
print(np.min(e))

Arrondi

In [ ]:
e = np.array([1.1455, 2.58213, 3.9321321, 4.5481, 5.2521331, 6.513213])
print(np.round(e,2))

| Opération          | Description                                    |
|--------------------|------------------------------------------------|
| np.sum             | Somme des éléments                            |
| np.mean            | Moyenne des éléments                           |
| np.min             | Valeur minimale                                |
| np.max             | Valeur maximale                                |
| np.median          | Médiane                                        |
| np.std             | Écart-type                                     |
| np.var             | Variance                                       |
| np.prod            | Produit des éléments                           |
| np.abs             | Valeurs absolues                               |
| np.exp             | Exponentielle                                  |
| np.log             | Logarithme naturel                             |
| np.sqrt            | Racine carrée                                  |
| np.sin             | Sinus                                          |
| np.cos             | Cosinus                                        |
| np.tan             | Tangente                                       |
| np.arcsin          | Arc sinus                                      |
| np.arccos          | Arc cosinus                                    |
| np.arctan          | Arc tangente                                   |
| ...                | ...                                            |

Cas des dimensions plus élevées:

In [ ]:
g = np.array([[2,9,8],[8,1,9]])
print(g)
print(np.min(g))

Dans la cellule précédente, on récupère la valeur minimale du tableau, mais on pourrait vouloir le minimum par ligne ou par colonne. Dans ce cas il va faloir preciser l'axe.

In [ ]:
# minimum de chaque colonne
print(np.min(g,axis = 0))

On récupéré la valeur minimale de chaque colonne avec axis = 0, pour le minimum de chaque ligne, on précisera axis = 1

In [ ]:
#minimum de chaque ligne
print(np.min(g,axis = 1))

# 5-3 Déclaration de tableaux particuliers

On peut délarer des tableaux, en précisant leurs dimension, mais aussi les éléménts qui le composent

- Tableau rempli de 1 avec **np.ones**

In [ ]:
arr_ones = np.ones((3, 2))
print(arr_ones)

**Remarque:** pour les paramètres à rentrer, comme pour toutes les bibliothéques, il faut regarder [la documentation](https://numpy.org/doc/stable/reference/generated/numpy.ones.html)

- Tableau rempli de 0 avec **np.zeros**

In [ ]:
arr_zeros = np.zeros((3, 2))
print(arr_zeros)

- Tableau rempli de valeurs aléatoires entre 0 et 1 avec **np.random.rand**

In [ ]:
arr_random = np.random.rand(3, 3)
print(arr_random)

- Tableau rempli de valeurs aléatoires réparties selon une loi uniforme entre 2 valeurs données avec **np.random.uniform**

In [ ]:
Valeur_min = 25
valeur_maxi = 50
arr_random_uni = np.random.uniform(Valeur_min, valeur_maxi, size =  (3, 3)) 
print(arr_random_uni)

- Tableau vides avec **np.empty** (2 lignes et 3 colonnes)

In [ ]:
arr_empty = np.empty((2, 3))
print(arr_empty)

Des valeurs numériques apparaissent mais elles ne sont pas initialisées, elles dépendent de l'état de la mémoire au moment de la création du tableau.  
L'avantage de ne pas initialiser des valeurs comme pour np.ones ou np.zeros est une rapidité supérieure à la création du tableau, on ne fait qu'allouer de l'espace mémoire.

Lors de la déclaration d'un tableau, on peut déclarer le type qu'auront les éléments qu'il contient.

- Tableau d'entiers

In [ ]:
arr_int = np.array([1, 2, 3], dtype=int)
print('entier: ',arr_int)

- Nombres à virgule flottante

In [ ]:
arr_float = np.array([1, 2, 3], dtype=np.float32) #float codé sur 32 bits
#ou
arr_float = np.array([1, 2, 3], dtype=np.float64) #float codé sur 64 bits
#ou
arr_float = np.array([1, 2, 3], dtype=float) #float codé sur 64 bits par défaut

print('décimal :',arr_float)

- Chaînes de caractères

In [ ]:
arr_str = np.array(['1', '2', '3'], dtype=str)
print('chaine de caracteres :',arr_str)

- Booléens

In [ ]:
arr_bool = np.array([0, 1, 1], dtype=bool)
print('booléen: ',arr_bool)

| Type de données (dtype) | Description | Exemple |
|------------------------|-------------|---------|
| int8, int16, int32, int64 | Entiers signés de 8, 16, 32 ou 64 bits | `np.array([1, 2, 3], dtype=np.int32)` |
| uint8, uint16, uint32, uint64 | Entiers non signés de 8, 16, 32 ou 64 bits | `np.array([0, 255, 65535], dtype=np.uint16)` |
| float16, float32, float64 | Nombres à virgule flottante de 16, 32 ou 64 bits | `np.array([1.0, 2.5, 3.7], dtype=np.float64)` |
| complex64, complex128 | Nombres complexes de 64 ou 128 bits | `np.array([1+2j, 3+4j, 5+6j], dtype=np.complex128)` |
| bool | Valeurs booléennes (True ou False) | `np.array([True, False, True], dtype=np.bool)` |
| object | Objet Python générique | `np.array(['a', 'b', 'c'], dtype=object)` |
| string_ | Chaîne de caractères de longueur fixe | `np.array(['hello', 'world'], dtype=np.string_)` |
| unicode_ | Chaîne de caractères Unicode de longueur fixe | `np.array(['こんにちは', '안녕하세요'], dtype=np.unicode_)` |

On peut également convertir le type des élements d'un tableau après sa création avec **.astype**

In [ ]:
# Déclaration d'un tableau avec des entiers
arr_int = np.array([1, 2, 3], dtype=int)
print('entier: ',arr_int)
# Conversion des éléments du tableau en nombre à virgules
arr_float = arr_int.astype(np.float64)
print('décimal: ',arr_float)

[Exercice 1](exercices/Exercices5.ipynb)

# 5-4 Indexation et découpage de tableaux numpy

## 5-4-1 Découpages par tranches

Les indexations sont assez similaires à celles de listes avec quelques outils supplémentaires

In [ ]:
print('tableau: :',e)
print("e[3] : l'élément à l'indice 3: ",e[3])
print('e[-1] : le dernier élément est: ',e[-1])
print('e[2:5] : la tranche 2-5 est: ',e[2:5])
print('e[::2] : les éléments avec indice pair: ',e[::2])
print('e[e > 4]: les éléments dont la valeur est superieure à 4: ',e[e > 4])

On peut appliquer ces indexations à des tableaux de dimension superieures.

In [ ]:
f = np.array([[0,1,2,3],[0,10,20,30],[0,100,200,300]])

print('tableau: \n',f)
print('f[0,2] : élémént à la ligne 0, colonne2: ',f[0,2])
print('f[1] : ligne 1: ',f[1]) # on commence à ligne zéro)
print('[:,2] : colonne 2: ',f[:,2]) # on peut aussi lire : toutes les ligne, les colonnes 2
print('f[0:1, 1:3] ligne 0 à 1 non inclus, colonnes 1 à 3 non inclus: ',f[0:1, 1:3])

Pour la dimension 3. Ici on peut imaginer une matrice en 3 dimensions, concretement, ce format est souvent utilisé pour traiter des piles d'images.

In [ ]:
h = np.array([[[1, 2, 3],[4, 5, 6]],
            [[7, 8, 9],[10, 11, 12]]])
print('tableau: ')
print(h)
print('h[0, 1, 2] : couche 0, ligne 1, colonne 2: ')
print(h[0, 1, 2]) 
print('h[:, 0, :] : Toutes les couches, ligne 0, toutes les colonnes: ')
print(h[:, 0, :])  
print('h[-1, :, :] : Tous les éléments de la dernière couche du tableau: ')
print(h[-1, :, :]) 
print('h[:, :, 1:2]: Toutes les couches, toutes les les lignes, les colonnes 1 et 2\
exclue, donc seulement 1: ')
print(h[:, :, 1:2])

<u>**Remarque**</u>: Par défaut, pour les tableaux numpy on a l'ordre couche - ligne - colonne. Dans le cas des images, on aura plutôt l'odre ligne - colonne - couche.

## 5-4-2 Découpages par condition

**np.where** renvoie les indices où une condition est vraie, c'est utilisé pour filtrer ou remplacer des valeurs. On récupère un tuple, dont le premier élément est un tableau contenant les indices des éléments respectant la condition.

In [ ]:
print('tableau: :',e)
print('indices des elements dont la valeur est superieure à 3: ')
print(np.where(e> 3))

**np.any**  teste si au moins un élément d'un tableau satisfait une condition donnée. Elle renvoie True si au moins un élément du tableau est évalué comme True pour la condition spécifiée, sinon elle renvoie False.

In [ ]:
arr1 = np.array([False, False, True])
result1 = np.any(arr1)
print(result1)

Par exemple pour verifier une condition sur un tableau de valeurs:

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
# Vérifiez si au moins un élément du tableau est supérieur à 3
result = np.any(arr > 3)
# Affichez le résultat
print(result)

En plus haute dimension:

In [ ]:
arr2 = np.array([[True, False,False], [False, False,True]])
result2 = np.any(arr2, axis=0)
print(arr2)
print('Au moins un élément est-il évalué à True le long de chaque colonne?')
print(result2)

In [ ]:
arr3 = np.array([[True, False,False], [False, False,True]])
result3 = np.any(arr3, axis=1)
print(arr3) 
print('Au moins un élément est-il évalué à True le long de chaque ligne?') 
print(result3)

[Exercice 2](exercices/Exercices5.ipynb)

# 5-5 Manipulations avancées de tableaux Numpy

## 5-5-1 Concatener

La concaténation avec **np.concatenate** est une opération qui permet de fusionner plusieurs tableaux numpy en les empilant les uns après les autres selon un axe spécifié.

In [ ]:
i = np.array([1, 2, 3])
j = np.array([4, 5, 6])

# Concaténation des tableaux
result = np.concatenate((i, j))

# Affichage du résultat
print("Tableau 1 :", i)
print("Tableau 2 :", j)
print("Résultat de la concaténation :", result)

En dimension 2

In [ ]:
k = np.array([[1, 2],
              [3, 4]])

l = np.array([[5, 6],
              [7, 8]])

print('Origine','\n',
      k,'\n','-----','\n',l)
print('axe 0, empiler verticalement colonnes concaténées: ','\n',
      np.concatenate((k, l), axis=0))
print('axe 1, empiler horizontalement lignes concaténées: ','\n',
      np.concatenate((k, l), axis=1))
print("Sans précision sur l'axe (par defaut axis = 0): ",'\n',
      np.concatenate((k, l)))

On peut spécifier le tableau résultant de la concatenation avec le paramètre out

In [ ]:
i = np.array([1, 2, 3])
j = np.array([4, 5, 6])
res = np.array([0,0,0,0,0,0])
np.concatenate((i,j), out=res)
print(res)

## 5-5-2 Ajouter des éléments

Ajouter un élément à la fin

In [ ]:
print(j)
print(np.append(j, 4))

In [ ]:
print('i')
print(i)
print('----------------')
print('j')
print(j)
print('----------------')
print('np.append(i, j)')
print(np.append(i, j))
print('----------------')
print('np.append(j, i)')
print(np.append(j, i))

En dimension 2, par défaut l'axe est configuré à 'None', ce qui signifie qu'un tableau de dimension 2 sera réduit à 1 seule dimension

In [ ]:
print(k)
print('----------------')
print(np.append(k, 4))

On peut choisir d'ajouter une ligne en précisant: axis = 0

In [ ]:
print(k)
print('----------------')
print( np.append(k, [[5, 6]], axis=0))

Ou une colonne en précisant axis = 1

In [ ]:
print(k)
print('----------------')
print(np.append(k, [[7], [8]], axis=1))

## 5-5-3 Empiler des tableaux

La fonction **np.stack** empile les tableaux pour créer un nouveau tableau multidimensionnel.

In [ ]:
l = np.array([1, 2, 3])
m = np.array([4, 5, 6])
print('----- l -------')
print(l)
print(l.shape)
print('----- m -------')
print(m)
print(m.shape)
print('----- stack -------')
stacked = np.stack((l, m))
print(stacked)
print(stacked.shape)
print('----- vertical stack -------')
vstacked = np.vstack((l, m))
print(vstacked)
print(vstacked.shape)
print('----- horizontal stack -------')
hstacked = np.hstack((l, m))
print(hstacked)
print(hstacked.shape)

Ici, avec **np.stack** et **np.vstack**   on a transformé deux tableaux de 1 ligne chacun en un tableau de 2 lignes, mais pour des dimensions superieures, **np.stack** ajoute une dimension alors que **np.vstack** empile les colonnes.

In [ ]:
n = np.array([[1, 2, 3]])
o = np.array([[5, 5, 6]])

print('----- n -------')
print(n)
print(n.shape)

print('----- o -------')
print(o)
print(o.shape)

print('----- stack -------')
result_stack = np.stack((n, o))
print(result_stack)
print(result_stack.shape)

print('----- vertical stack -------')
result_vstack = np.vstack((n, o))
print(result_vstack)
print(result_vstack.shape)

print('----- horizontal stack -------')
result_hstack = np.hstack((n, o))
print(result_hstack)
print(result_hstack.shape)

## 5-5-4 Découper des tableaux

**np.split** permet de diviser un tableau en sous-tableaux en spécifiant un point de séparation

In [ ]:
p = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
print(np.split(p, 5)) # couper le tableau en 5 sous tableaux
                      #  de taille identique qui seront mis dans un tableau

Il faut bien sûr que le nombre d'élément soit divisible par 5 dans ce cas.

En 2 dimensions:

In [ ]:
q = np.array([[1, 2, 3, 4],
              [5, 6, 7, 8],
              [9, 10, 11, 12],
              [13, 14, 15, 16]])

print(np.split(q, 2)) #couper les tableau en tableaux de 2 lignes

Par défaut l'axe est zéro.  
- **axis=0**: on divise le tableau en sous-tableaux ayant le même nombre de lignes. 
- **axis=1**: on divise le tableau en sous-tableaux ayant le même nombre de colonnes.

In [ ]:
q = np.array([[1, 2, 3, 4],
              [5, 6, 7, 8],
              [9, 10, 11, 12],
              [13, 14, 15, 16]])

print(np.split(q, 2, axis = 1)) #couper les tableau en tableaux de 2 colonnes

## 5-5-5 Changement de dimensions des tableaux

### 5-5-5-1 Aplatir des tableaux

**np.flatten** transforme un tableau multi-dimensionnel en un tableau à une dimension

In [ ]:
r = np.array([[[1, 2, 3],
               [4, 5, 6]],
              [[7, 8, 9],
               [10, 11, 12]]])
print('-----r-----')
print(r)
print('forme de r: ', r.shape)
flattened_r = r.flatten()
print('-----r applati-----')
print(flattened_r)
print('forme de r aplati: ', flattened_r.shape)

### 5-5-5-2 Redimensionner des tableaux

On a déja vu la fonction **reshape** qui permet de modifier la forme d'un tableau en spécifiant les nouvelles dimensions, en conservant les mêmes éléments

In [ ]:
s = np.array([1, 2, 3, 4, 5, 6])

print('----- avant -------')
print(s)
print( s.shape)
# transformons le tableau de 6 éléments en matrice
# de 2 lignes, 3 colonnes
reshaped_s = s.reshape((2, 3))
print('----- après -------')
print(reshaped_s)
print( reshaped_s.shape)

Il arrive souvent que l'on ait une des dimension du tableau égale à 1 sans que ça ne soit necessaire, pour supprimer cette ou ces dimensions, utilisons **np.squeeze**.

In [ ]:
s = np.array([[[1], [2], [3]]])
print(s)
print(s.shape)
print('---------------')

print(np.squeeze(s))
print(np.squeeze(s).shape)

En précisant l'axe, on peut choisir de ne pas supprimer toutes les dimensions égales à 1, mais par exemple ici, seulement la 3ème.

In [ ]:
print(np.squeeze(s,axis = 2))
print(np.squeeze(s, axis =2).shape)

A l'inverse on peut avoir besoin de passer d'une forme (x,1) à (x,). **np.newaxis** le permet.

In [ ]:
f = np.array([1,9,8,7])
print(f.shape)
print(f)
print('-------------')
f = f[:, np.newaxis]
print(f.shape)
print(f)

## 5-5-6 Autres fonctions numpy

### 5-4-6-1 Copie

La fonction **np.copy()** est utilisée pour créer une copie indépendante d'un objet NumPy existant, ceci permet d'éviter de modiffier l'original par erreur.

In [ ]:
original = np.array([1, 2, 3, 4, 5])

# Création d'une copie du tableau
copie = np.copy(original)
# Modifier la copie
copie[0] = 10
# Afficher les deux tableaux
print("Original:", original)  
print("Copie:", copie)

### 5-4-6-2 Interpolations

**np.interp** réalise une interpolation linéaire pour estimer des valeurs entre des points de données en fonction d'une plage d'entrée spécifiée et d'une plage de sortie correspondante.

In [ ]:
x = np.array([0, 1, 2, 3, 4])
y = np.array([0, 14, 9, 12, 3])
interp_point = 2.5

interp_value = np.interp(interp_point, x, y)  # Interpolation linéaire pour un seul point

fig, ax = plt.subplots()
ax.plot(x, y,  marker = 'o',label='Données')
ax.plot(interp_point, interp_value, 'ro', label='Interpolation')
ax.legend();

On peur aussi faire l'interpolation sur un tableau

In [ ]:
interp_array = np.array([0.4, 0.9, 1.6, 2.2, 2.8, 3.6])

interp_values = np.interp(interp_array, x, y)  # Interpolation linéaire pour tout le tableau interp_array

fig, ax = plt.subplots()
ax.plot(x, y, marker = 'o', label='Données')
ax.plot(interp_array, interp_values, 'ro', label='Interpolation')
ax.legend()

### 5-4-6-3 Derivée et difference

**np.gradient** calcule la différence entre les valeurs successives d'un tableau multidimensionnel, en prenant en compte les espacements entre les points. Il retourne un tableau avec les différences calculées pour chaque dimension du tableau d'entrée. Par conséquent, np.gradient peut être utilisé pour calculer la dérivée d'une fonction discrète dans plusieurs dimensions.

In [ ]:
x = np.array([0, 1, 2, 3, 4, 5, 6, 7 , 8, 9, 10])
y = np.array([1, 2, 4, 7, 11, 16, 12, 10, 5, 11, 16])

# Calcul de la dérivée de y par rapport à x
deriv = np.gradient(y, x)

print("La dérivée de y par rapport à x est", deriv)

fig, ax = plt.subplots()
ax.plot(x, y, label='y')
ax.plot(x, deriv, label="Dérivée de y par rapport à x")
ax.legend()

**np.diff** calcule la différence entre les valeurs consécutives d'un tableau unidimensionnel. Il retourne un tableau d'une dimension de longueur réduite par rapport à l'entrée, où chaque élément correspond à la différence entre deux éléments adjacents.

In [ ]:
# Calcul des différences entre les valeurs de y
print('y ',y)
diff = np.diff(y)
print('diff',diff)

# Création du tableau d'indices
indices = np.arange(0, len(y)-1)
print('indices',indices)

fig, ax = plt.subplots()
ax.plot(indices, y[1:], label='y')
ax.plot(indices, diff, label='Différence de y')
ax.legend()

plt.show()

avec np.diff on a calculé $\Delta y $ alors qu'avec np.gradient, on a calculé $\Delta y / \Delta x$

### 5-4-6-5 Pour le traitement des données scientifiques

| Fonction   | Description                                                                 |
|------------|-----------------------------------------------------------------------------|
| linspace   | Génère une séquence de valeurs régulièrement espacées dans un intervalle     |
| logspace   | Génère une séquence de valeurs espacées logarithmiquement dans un intervalle |
| fft        | Calcule la transformée de Fourier discrète d'un signal                       |
| ifft       | Calcule la transformée de Fourier inverse d'un signal                        |

### 5-4-6-6 Pour le traitement statistique

| Fonction   | Description                                                                 |
|------------|-----------------------------------------------------------------------------|
| sort       | Trie les éléments d'un tableau selon un axe donné                            |
| unique     | Retourne les éléments uniques d'un tableau                                   |
| mean       | Calcule la moyenne d'un tableau                                              |
| median     | Calcule la médiane d'un tableau                                              |
| std        | Calcule l'écart-type d'un tableau                                            |
| var        | Calcule la variance d'un tableau                                             |
| argmin     | Retourne l'indice de la valeur minimale d'un tableau                         |
| argmax     | Retourne l'indice de la valeur maximale d'un tableau

La variété des fonctions existant en numpy va permettre d'appliquer des opérations à tous les éléments de tableaux de diverses dimensions en évitant d'avoir recours à des boucles qui donneraient des codes plus "lourds" et moins performants.

# 5-5 Manipulations d'images

Le tableaux numpy peuvent servir à manipuler une grande variété de type de données, comme des images qui ne sont rien d'autre que des tableau numpy dont chaque élément est un pixel et représente une valeur definissant un niveau de gris ou une couleur

Definissons une image de 28 pixels sur 28 pixels en niveaux de gris (0 à 256)

In [ ]:
image_array_rand = np.random.randint(0, 256, size=(28, 28))

In [ ]:
print(image_array_rand)

Utilisons matplotlib pour la tracer

In [ ]:
fig,ax = plt.subplots()
ax.imshow(image_array_rand)

Avec un petit effort de présentation...

In [ ]:
fig,ax = plt.subplots()
ax.imshow(image_array_rand, cmap='gray',vmin = 0, vmax = 255) #niveaux de gris de 0 à 255
ax.axis('off');  # Masquer les axes

On peut faire des opérations sur l'ensemble des pixels, comme augmenter ou diminuer leurs valeurs, ce qui changera la luminosité de l'image

In [ ]:
clair = image_array_rand + 80
fonce = image_array_rand - 80

# Mettre les valeur négatives à zero et les valeurs superieures à 255 à 255
#remplacer toutes les valeurs supérieures à 255 dans le tableau clair par 255.
clair[clair > 255] = 255 
#remplacer toutes les valeurs négatives dans le tableau fonce par 0
fonce[fonce < 0] = 0

In [ ]:
fig, ax = plt.subplots(1,3)
ax[0].imshow(image_array_rand, cmap='gray',vmin = 0, vmax = 255)
ax[0].set_title('Origine')
ax[1].imshow(clair, cmap='gray',vmin = 0, vmax = 255)
ax[1].set_title('Clair')
ax[2].imshow(fonce, cmap='gray',vmin = 0, vmax = 255)
ax[2].set_title('Foncé');

Avec les outils de slice, on peut creer une image avec des motifs géométriques

In [ ]:
# Création d'un tableau numpy de dimensions 28x28 rempli de zéros (fond noir)
image_array = np.zeros((28, 28))

# Définition des coordonnées du motif géométrique
start_row, end_row = 8, 10
start_col, end_col = 10, 20

start_row2, end_row2 = 18, 20
start_col2, end_col2 = 4, 6

# Remplissage du motif avec le niveau de gris 100
image_array[start_row:end_row, start_col:end_col] = 100

image_array[start_row2:end_row2, start_col2:end_col2] = 255

In [ ]:
fig,ax = plt.subplots()
ax.imshow(image_array, cmap='gray',vmin = 0, vmax = 255)

Ouvrons maintenant une image contenue dans un fichier et essayons de comprendre comment elle est constituée

In [ ]:
# Lire l'image avec Matplotlib
image = plt.imread('fichiers_cours/numpy/rgb.png')

# Convertir l'image en tableau NumPy (ça n'est pas toujours necessaire)
mon_image = np.array(image)

In [ ]:
fig,ax = plt.subplots()
ax.imshow(image)
ax.axis('off')

In [ ]:
print(mon_image.shape)

In [ ]:
fig, ax = plt.subplots(2, 3, figsize=(18, 12))

# Affichage de l'image originale
ax[0, 0].imshow(mon_image, cmap='gray')
ax[0, 0].axis('off')
ax[0, 0].set_title('Origine')

# Affichage du canal 0 , c.a.d. toutes les lignes et toutes les colonnes de la couche 0
ax[0, 1].imshow(mon_image[:, :, 0], cmap='gray')
ax[0, 1].axis('off')
ax[0, 1].set_title('Canal 0')

# Affichage du canal 1 , c.a.d. toutes les lignes et toutes les colonnes de la couche 1
ax[0, 2].imshow(mon_image[:, :, 1], cmap='gray')
ax[0, 2].axis('off')
ax[0, 2].set_title('Canal 1')

# Affichage du canal 2 , c.a.d. toutes les lignes et toutes les colonnes de la couche 3
ax[1, 0].imshow(mon_image[:, :, 2], cmap='gray')
ax[1, 0].axis('off')
ax[1, 0].set_title('Canal 2')

# Affichage du canal 3 , c.a.d. toutes les lignes et toutes les colonnes de la couche 3
ax[1, 1].imshow(mon_image[:, :, 3], cmap='gray')
ax[1, 1].axis('off')
ax[1, 1].set_title('Canal 3')

# Ajout d'une cellule vide pour le canal 4 (s'il existe)
ax[1, 2].axis('off')

On retrouve bien les canaux rouge vert et bleu. Ici on a en plus un canal pour la transparence.  
Ici on a un tableau dans l'ordre ligne - colonne - couche, alors que sur les tableaux numpy qu'on a déclaré précedemment on avait plutôt couche - ligne - colonne.  C'est généralement le cas sur les images.

[Exercice 3](exercices/Exercices5.ipynb)